.item {
  display: flex;
}

.ctrl {
  margin-left: 15px;
}

.ctrl a {
  cursor: pointer;
}

a:first-child {
  margin-right: 15px;
}

.ctrl a:last-child {
  margin-left: 15px;
}

@media (max-width: 471px) {
  h4 {
    font-size: 1rem;
  }
}
