header {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/banner.png");
  background-size: cover;
  position: relative;
  background-position: center;
}

.overlay {
  position: absolute;
  content: "";
  background-color: #040e27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
}

.bg-black {
  background: black !important;
}

nav {
  position: absolute;
  z-index: 2;
  font-family: "Paytone One", sans-serif;
  padding: 30px 200px 30px 200px;
  width: 100%;
  background: transparent !important;
  transition: background 0.3s;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li a:hover {
  color: #f2c64d;
}

nav ul li + li {
  margin-left: 30px;
}

.order .button-- {
  padding: 10px 26px;
  border-radius: 40px;
  border: 2px solid #f2c64d;
  color: #f2c64d;
  transition: 0.3s;
  cursor: pointer;
}

.order .button--:hover {
  border: 2px solid #fff;
  color: #fff;
}

@media (max-width: 991px) {
  nav {
    padding: 30px;
  }

  nav ul li + li {
    margin: 0;
  }

  .order {
    margin-top: 20px;
  }

  .order .button-- {
    padding: 6px 18px;
  }
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.content h3 {
  font-size: 100px;
  font-family: "Pacifico", cursive;
  color: #f2c64d;
  animation: openningText 1s;
}

@keyframes openningText {
  from {
    opacity: 0;
    margin-top: -60px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.social-media {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.social-media a {
  color: #fff;
  transition: 0.3s;
  font-size: 32px;
}

.social-media a + a {
  margin-left: 30px;
}

.social-media a:hover {
  color: #f2c64d;
}

.content .button-- {
  background: #f2c64d;
  padding: 12px 26px;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  transition: 0.3s;
}

.content .button--:hover {
  color: #fff;
}

@media (max-width: 441px) {
  .content h1,
  .content h3 {
    font-size: 60px;
    line-height: 60px;
  }
}
