.content {
  width: 100%;
  height: 100%;
}

.content h3 {
  font-size: 30px;
  color: #1a0d01;
  font-weight: 700;
  text-transform: uppercase;
}

.content h4 {
  color: #f0542c;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
}

a {
  background: red;
  border: 0;
  width: 160px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

a:hover {
  color: #f2c64d;
}
