.modal-- {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal 1s;
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content-- {
  background: white;
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.modal-content-- .head {
  float: right;
}

.modal-content-- .head i {
  cursor: pointer;
}

.modal-content-- .body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content-- .body h4 {
  text-align: center;
}
