.menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.menu button:last-child {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  border: 0;
  outline: 0;
  margin-left: auto;
  background: red;
  color: #fff;
  font-size: 20px;
}

.menu .content {
  width: 100%;
  min-width: 280px;
  margin-bottom: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.menu .content .item {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.menu .content .item + .item {
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 5px;
}

.menu .content strong,
.menu .content a,
.menu .content span {
  font-size: 14px;
}

.menu .content a {
  color: red;
  cursor: pointer;
  transition: 0.2s;
}

.menu .content a:hover {
  opacity: 0.6;
}

.menu .content span:first-child {
  font-size: 16px;
}

.menu .content .finish {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .content .finish a {
  color: #fff;
  background: red;
  padding: 8px 16px;
  border-radius: 5px;
}
